<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-warning" %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are U sure?'}, :class => "btn btn-danger" %>
<hr>
	<h2>All comments</h2>
<% @post.comments.each do |comment| %>
	<div class="alert alert-light">
		<p><strong><%= comment.username %></strong>: <%= comment.body %>  <%= link_to 'Delete', post_comment_path(@post), method: :delete %></p>
		
	</div>
<% end %>
<hr>
<h2>Add new Comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		User name <br>
		<%= f.text_field(:username, {:class => 'form-control'}) %>
	</p>
	<p>
		Text <br>
		<%= f.text_area(:body, {:class => 'form-control'}) %>
	</p>
	<p>
		<%= f.submit("Add new coment", {:class => 'btn btn-warning'}) %>
	</p>
<% end %>