<!DOCTYPE html>
<html>
  <head>
    <title>Apptest</title>
    <%= csrf_meta_tags %>
	
	<%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	  <h5 class="my-0 mr-md-auto font-weight-normal">Test App</h5>
	  <nav class="my-2 my-md-0 mr-md-3">
	    <span class="p-2 text-dark" href="#"><%= link_to "Main page", home_path %></span>
	    <span class="p-2 text-dark" href="#"><%= link_to "About us", about_path %></span>
	  </nav>
	  <span class="btn btn-outline-primary"><%= link_to "New post", new_post_path %></span>
	</div>
	
	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
